body {
  margin: 0;
  background-color: #272A36; /* Set the background color for the entire page */
}

.App {
  font-family: 'CommitMono', sans-serif; /* Apply Roboto font throughout the app */
  color: white;
  background-color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 750px; /* Contain the width for a centered look */
  margin: auto;
  padding: 20px;
}

.name {
  font-family: 'Electrolize', sans-serif;  /* Fallback to cursive if Lobster doesn't load */
}

.App-header {
  text-align: center;
  margin-bottom: 40px;
}

.profile-image {
  width: 100px; /* Adjusted to fit the actual size */
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.content {
  width: 100%;
}

.App-about, .App-education, .App-work, .App-projects {
  margin-bottom: 30px;
}

h1, h2, h3, p {
  margin: 10px 0;
}

h1 {
  font-weight: 700; /* Bold font for headers */
}

h2 {
  color: #ccc; /* Lighter color for subtitles */
  font-weight: 700;
}

h3 {
  font-weight: 400; /* Normal font weight for sub-headers */
}

p {
  font-size: 0.9rem;
  color: #aaa; /* Light gray for text for less emphasis */
}

footer {
  margin-top: 20px;
  color: #666; /* Dim color for the footer */
}

.background-video {
  position: fixed; /* Make the video fixed position */
  top: 0;
  left: 0;
  width: 100vw; /* Set width to viewport width */
  height: 100vh; /* Set height to viewport height */
  object-fit: cover; /* Ensure the video covers the full area without distortion */
  z-index: -1; /* Keep the video behind all other content */
}


@font-face {
  font-family: 'Electrolize';
  src: url('./fonts/Electrolize-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CommitMono';
  src: url('./fonts/CommitMono-400-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}